.addTask {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.inputEdit {
  flex: 1;
  padding: 12px;
  border: none;
  border-bottom: solid rgb(204, 204, 204);
  font-size: 16px;
  border-radius: 0px;
}
