/* .filters {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.button {
  padding: 10px 16px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(128, 128, 128);
  font-size: 15px;
}

.active {
  color: rgb(0, 157, 255);
  text-decoration: underline;
} */
/* .filteredTodos {
  width: 20%;
  display: flex;
  margin: 15px auto 20px;
} */
